<div class="mat-title">Welcome back, <b>{{ userName }}</b></div>

<app-chart></app-chart>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="mat-button" [routerLink]="['add-bg']">Add BG Reading</button>
      <br>
      <button class="mat-button" [routerLink]="['add-event']">Add Food/Exercise Event</button>
    </div>
    <br>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


