<nav class="navbar navbar-inverse bg-inverse bg-faded navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="about">ProjectName</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <app-header-item
        title="About"
        link="about"
        icon=""
      ></app-header-item>
      <app-header-item
        title="History"
        link="history"
        icon=""
      ></app-header-item>
      <app-header-item
        title="API Test"
        link="api"
        icon=""
      ></app-header-item>
      <app-header-item
        title="Profile"
        link="profile"
        icon=""
      ></app-header-item>
    </ul>
  </div>
</nav>
