<nav class="navbar navbar-inverse bg-inverse bg-faded navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="#" class="navbar-left"><img src="assets/brand.png" alt="" width="38" height="38"></a>
  <a class="navbar-brand" style="padding-left: 10px;" routerLink="about">DiaMetrics</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <app-header-item
        title="About"
        link="about"
        icon="fa-question-circle-o"
      ></app-header-item>
      <app-header-item
        title="Profile"
        link="history"
        icon="fa-user-circle"
      ></app-header-item>
      <app-header-item
        title="Settings"
        link="api"
        icon="fa-wrench"
      ></app-header-item>
    </ul>
  </div>
</nav>
